NEXT_PUBLIC_MAINTENANCE_DATE_END=2024-12-20T14:00:00Z
CUSTOMER_CONFIGS=[{"customer":"customername","config":{"gtmKey":"GTM-XXXX","builderApiKey":"ab92813--","language":"en-GB","email":"", "phone":"","logoUrl":"","faviconUrl":""}},{"customer":"customername","config":{"gtmKey":"GTM-XXXX","builderApiKey":"ab92813--","language":"en-GB","email":"", "phone":"","logoUrl":"","faviconUrl":""}},{"customer":"customername","config":{"gtmKey":"GTM-XXXX","builderApiKey":"ab92813--","language":"en-GB","email":"", "phone":"","logoUrl":"","faviconUrl":""}},{"customer":"customername","config":{"gtmKey":"","builderApiKey":"","language":"","email":"", "phone":"","logoUrl":"","faviconUrl":""}},{"customer":"customername","config":{"gtmKey":"","builderApiKey":"","language":"","email":"", "phone":"","logoUrl":"","faviconUrl":""}}]